{
  "name": "satis",
  "description": "PHP Packages",
  "homepage": "http://localhost:8080",
  "repositories": [
    {{#repos}}
    {
        "name": "{{name}}",
        "type": "vcs",
        "url": "{{url}}"
    }{{^last}},{{/last}}
    {{/repos}}
  ],
  "require-all": true
}